{% extends "poll/header.html" %}
{% block content %}
 <div style="width:300px; margin-left:20px;margin-top:20px">
    <h1>Свойства</h1>
   <ul class="list-group">
    {% for feature in features_list %}
        <li class="list-group-item" aria-current="true"><a href="/poll/features/{{ feature.id }}/">{{ feature.feature_name }}</a></li>
    {% endfor %}
    </ul>
{% if user.username == 'gameadmin' %}
<p><a href="{% url 'poll:feature-add' %}">+ Добавить Свойство?</a></p>
{% endif %}
 </div>
{% endblock %}


