{% extends "poll/header.html" %}
{% block content %}
  <h2>{{ feature_detail.feature_name }}</h2>
  <div style="margin-left:20px;margin-top:20px">
  <p><h4>Название: </h4> {{ feature_detail.feature_name }}</p>
  <p><h4>Описание: </h4> {{ feature_detail.feature_description|safe }}</p>

           <table class="editorDemoTable" width="350" border="1">
            <tbody>
             <tr >
                 <td colspan="2"><h4>Характеристики: </h4></td>
            </tr>
              <tr>
                <td>Стамина: </td>
                <td>{{ SP }} </td>
            </tr>
            <tr>
                <td>Колдовство: </td>
                <td>{{ MP }}</td>
            </tr>
            <tr>
                <td>Интеллект: </td>
                <td>{{ IP }}
                 </td>
            </tr>
            <tr>
                <td>Сила: </td>
                 <td>{{ PP }}
                 </td>
            </tr>
            <tr>
                <td>Ловкость: </td>
                <td>{{ AP }}
                 </td>
            </tr>
            <tr>
                <td>Вера: </td>
                <td>{{ FP }}
                 </td>
            </tr>
            <tr>
                <td>Удача: </td>
                <td>{{ LP }}
                 </td>
            </tr>
            <tr>
                <td>Харизма: </td>
                <td>{{ CP }}
                 </td>
            </tr>
            <tr>
                <td>Рассудок: </td>
                <td>{{ BP }}
                 </td>
            </tr>
            <tr>
            <td colspan="2"><h4>Навыки: </h4></td>
            </tr>
            <tr>
                <td>Пирокинектика: </td>
                 <td>{{ Fire_access }}
                 </td>
            </tr>
            <tr>
                <td>Гидрософистика: </td>
                 <td>{{ Water_access }}
                </td>
            </tr>
            <tr>
                <td>Аэрософистика: </td>
                  <td>{{ Wind_access }}
            </tr>
            <tr>
                <td>Геомантия: </td>
                 <td>{{ Dirt_access }}
            </tr>
            <tr>
                <td>Киловактика: </td>
                 <td>{{ Lightning_access }}
            </tr>
            <tr>
                <td>Элафристика: </td>
                 <td>{{ Holy_access }}
            </tr>
            <tr>
                <td>Катифристика: </td>
                 <td>{{ Curse_access }}
            </tr>
            <tr>
                <td>Гематомантия: </td>
                <td>{{ Bleed_access }}
            </tr>
            <tr>
                <td>Ботаника: </td>
                <td>{{ Nature_access }}
            </tr>
            <tr>
                <td>Псифистика: </td>
              <td>{{ Mental_access }}
            </tr>
            <tr>
                <td>Владение Двуручным оружем: </td>
                 <td>{{ Twohanded_access }}
            </tr>
            <tr>
                <td>Владение Древковым оружием: </td>
               <td>{{ Polearm_access }}
            </tr>
            <tr>
                <td>Владение Одноручным оружием: </td>
                <td>{{ Onehanded_access }}
            </tr>
            <tr>
                <td>Владение Колющим оружием: </td>
                <td>{{ Stabbing_access }}
            </tr>
            <tr>
                <td>Владение Режущим оружием: </td>
                <td>{{ Cutting_access }}
            </tr>
            <tr>
                <td>Владение Дробящим оружием: </td>
                <td>{{ Crushing_access }}
            </tr>
            <tr>
                <td>Владение Стрелковым оружем: </td>
                <td>{{Small_arms_access }}
            </tr>
            <tr>
                <td>Владение Щитами: </td>
                <td>{{ Shields_access }}
            </tr>
            <tr>
                <td colspan="2"><h4> Устойчивость:  </h4></td>

            <tr>
                <td>к огню: </td>
                 <td>{{ fire_res }}
            </tr>
            <tr>
                <td> к воде: </td>
                 <td>{{ water_res }}
            </tr>
            <tr>
                <td> к воздуху: </td>
                 <td>{{ wind_res }}
            </tr>
            <tr>
                <td> к земле: </td>
                 <td>{{ dirt_res }}
            </tr>
            <tr>
                <td> к молниям: </td>
                 <td>{{ lightning_res }}
            </tr>
            <tr>
                <td> к свету: </td>
                 <td>{{ holy_res }}
            </tr>
            <tr>
                <td> ко тьме: </td>
                 <td>{{ curse_res }}
            </tr>
            <tr>
                <td> к дроблению: </td>
                 <td>{{ crush_res }}
            </tr>
            <tr>
                <td> к порезам: </td>
                 <td>{{ cut_res }}
            </tr>
            <tr>
                <td> к протыканию: </td>
                 <td>{{ stab_res }}
            </tr>
             <td colspan="2"><h4>Снаряжение: </h4></td>
            <tr>
                <td>Шлем: </td>
                <td>{{ helmet_status }}
            </tr>
            <tr>
                <td>Нагрудник: </td>
                <td>{{ chest_status }}
            </tr>
            <tr>
                <td>Сапоги: </td>
                <td>{{ shoes_status }}
            </tr>
            <tr>
                <td>Наручи: </td>
                <td>{{ gloves_status }}
            </tr>
            <tr>
                <td>Прочее: </td>
                <td>{{ item_status }}
            </tr>
            </tbody>
        </table>
 </div>
<hr>
{% if user.username == 'gameadmin' %}

<p align="left"> <a href="{% url 'poll:action-update' feature_detail.pk %}">+ Изменить Свойство</a></p>
<p align="left"><a href="{% url 'poll:action-delete' feature_detail.pk %}">- Удалить Свойство</a></p>

{% endif %}



{% endblock %}