{% extends "poll/header.html" %}
{% block content %}
  <h2>{{ feature_detail.feature_name }}</h2>
  <div style="margin-left:20px;margin-top:20px">
  <p><h4>Название: </h4> {{ feature_detail.feature_name }}</p>
  <p><h4>Описание: </h4> {{ feature_detail.feature_description|safe }}</p>

           <table class="editorDemoTable" width="350" border="1">
            <tbody>
             <tr >
                 <td colspan="2"><h4>Характеристики: </h4></td>
            </tr>
              <tr>
                <td>Стамина: </td>
                <td>{{ sp }} </td>
            </tr>
            <tr>
                <td>Колдовство: </td>
                <td>{{ mp }}</td>
            </tr>
            <tr>
                <td>Интеллект: </td>
                <td>{{ ip }}
                 </td>
            </tr>
            <tr>
                <td>Сила: </td>
                 <td>{{ pp }}
                 </td>
            </tr>
            <tr>
                <td>Ловкость: </td>
                <td>{{ ap }}
                 </td>
            </tr>
            <tr>
                <td>Вера: </td>
                <td>{{ fp }}
                 </td>
            </tr>
            <tr>
                <td>Удача: </td>
                <td>{{ lp }}
                 </td>
            </tr>
            <tr>
                <td>Харизма: </td>
                <td>{{ cp }}
                 </td>
            </tr>
            <tr>
                <td>Рассудок: </td>
                <td>{{ bp }}
                 </td>
            </tr>
            <tr>
            <td colspan="2"><h4>Навыки: </h4></td>
            </tr>
            <tr>
                <td>Пирокинектика: </td>
                 <td>{{ fire_access }}
                 </td>
            </tr>
            <tr>
                <td>Гидрософистика: </td>
                 <td>{{ water_access }}
                </td>
            </tr>
            <tr>
                <td>эрософистика: </td>
                  <td>{{ wind_access }}
            </tr>
            <tr>
                <td>Геомантия: </td>
                 <td>{{ dirt_access }}
            </tr>
            <tr>
                <td>Киловактика: </td>
                 <td>{{ lightning_access }}
            </tr>
            <tr>
                <td>Элафристика: </td>
                 <td>{{ holy_access }}
            </tr>
            <tr>
                <td>Катифристика: </td>
                 <td>{{ curse_access }}
            </tr>
            <tr>
                <td>Гематомантия: </td>
                <td>{{ bleed_access }}
            </tr>
            <tr>
                <td>Ботаника: </td>
                <td>{{ nature_access }}
            </tr>
            <tr>
                <td>Псифистика: </td>
              <td>{{ mental_access }}
            </tr>
            <tr>
                <td>Владение Двуручным оружем: </td>
                 <td>{{ twohanded_access }}
            </tr>
            <tr>
                <td>Владение Древковым оружием: </td>
               <td>{{ polearm_access }}
            </tr>
            <tr>
                <td>Владение Одноручным оружием: </td>
                <td>{{ onehanded_access }}
            </tr>
            <tr>
                <td>Владение Колющим оружием: </td>
                <td>{{ stabbing_access }}
            </tr>
            <tr>
                <td>Владение Режущим оружием: </td>
                <td>{{ cutting_access }}
            </tr>
            <tr>
                <td>Владение Дробящим оружием: </td>
                <td>{{ crushing_access }}
            </tr>
            <tr>
                <td>Владение Стрелковым оружем: </td>
                <td>{{small_arms_access }}
            </tr>
            <tr>
                <td>Владение Щитами: </td>
                <td>{{ Shields_access }}
            </tr>
            <tr>
                <td colspan="2"><h4> Устойчивость:  </h4></td>

            <tr>
                <td>к огню: </td>
                 <td>{{ fire_res }}
            </tr>
            <tr>
                <td> к воде: </td>
                 <td>{{ water_res }}
            </tr>
            <tr>
                <td> к воздуху: </td>
                 <td>{{ wind_res }}
            </tr>
            <tr>
                <td> к земле: </td>
                 <td>{{ dirt_res }}
            </tr>
            <tr>
                <td> к молниям: </td>
                 <td>{{ lightning_res }}
            </tr>
            <tr>
                <td> к свету: </td>
                 <td>{{ holy_res }}
            </tr>
            <tr>
                <td> ко тьме: </td>
                 <td>{{ curse_res }}
            </tr>
            <tr>
                <td> к дроблению: </td>
                 <td>{{ crush_res }}
            </tr>
            <tr>
                <td> к порезам: </td>
                 <td>{{ cut_res }}
            </tr>
            <tr>
                <td> к протыканию: </td>
                 <td>{{ stab_res }}
            </tr>
             <td colspan="2"><h4>Снаряжение: </h4></td>
            <tr>
                <td>Шлем: </td>
                <td>{{ helmet_status }}
            </tr>
            <tr>
                <td>Нагрудник: </td>
                <td>{{ chest_status }}
            </tr>
            <tr>
                <td>Сапоги: </td>
                <td>{{ shoes_status }}
            </tr>
            <tr>
                <td>Наручи: </td>
                <td>{{ gloves_status }}
            </tr>
            <tr>
                <td>Прочее: </td>
                <td>{{ item_status }}
            </tr>
            </tbody>
        </table>
 </div>
<hr>
{% if user.username == 'gameadmin' %}

<p align="left"> <a href="{% url 'poll:feature-update' feature_detail.pk %}">+ Изменить Свойство</a></p>
<p align="left"><a href="{% url 'poll:feature-delete' feature_detail.pk %}">- Удалить Свойство</a></p>

{% endif %}



{% endblock %}