{% extends "poll/header.html" %}
{% block content %}
<div style="margin-left:20px;margin-top:65px">
    <div class="container">
        <div class="row  justify-content-end">
            <div class="row">
                <h5>{{person_detail.person_name}}</h5>
            </div>
            <div class="row">
                {% for personbar_detail in person_detail.personbar_set.all %}
                    {% include "poll/personbar/personbar_progress.html" with personbar_detail=personbar_detail %}
                {% endfor %}
            </div>
            <div class="row">
                <div class="col">
                   {% include "poll/person/person_detail_min.html" %}
                    {% if user.username in "person_detail.created_by.username  gameadmin " %}
                    <p><a href="{% url 'poll:person-update' person_detail.id %}">+ Редактировать Персонаж </a></p>
                    <p><a href="{% url 'poll:person-delete' person_detail.pk %}">- Удалить Персонаж</a></p>
                    {% endif %}
                </div>
                <div class="col">
                  {% include "poll/person/person_detail_other.html" %}
                </div>
            </div>
         </div>
    </div>
 </div>

{% endblock content%}


