{% extends "poll/header.html" %}

{% block content %}
<h1>Персонаж: {{ person_detail.person_name }}</h1>
<div style="margin-left:20px;margin-top:20px">

    <table class="editorDemoTable">
        <tbody>
        <tr>
            <td><strong> Владелец: </strong></td>
            <td><strong><a href="/poll/owner/{{ person_detail.owner.id }}/">{{ person_detail.owner.owner_name }} </a></strong></td>
        </tr>
        <tr>
            <td><strong>Краткое описание:</strong></td>
            <td> {{ person_detail.description }}</td>
        </tr>
        <tr>
            <td><strong>Ссылка:</strong></td>
            <td>{{ person_detail.link }}</td>
        </tr>
        <tr>
            <td><strong>Биография:</strong></td>
            <td> {{ person_detail.biography }}</td>
        </tr>
        <tr>
            <td><strong>Характер:</strong></td>
            <td> {{ person_detail.character }}</td>
        </tr>
        <tr>
            <td><strong>Интересы:</strong></td>
            <td> {{ person_detail.interests }}</td>
        </tr>
        <tr>
            <td><strong>Фобии:</strong></td>
            <td> {{ person_detail.phobias }}</td>
        </tr>
        <tr>
            <td><strong>Раса:</strong></td>
            <td>{{ person_detail.race }}</td>
        </tr>
        <tr>
            <td><strong>Слабости и особенности:</strong></td>
            <td>{{ person_detail.race }}</td>
        </tr>
        <tr>
            <td><strong>Основная характеристика:</strong></td>
            <td>{{ main_points }}</td>
        </tr>
        <tr>
            <td><strong>Основное умение:</strong></td>
            <td>{{ main_permission }}</td>
        </tr>
        <tr>
            <td><strong>Мeсто возрождения:</strong></td>
            <td>{{ person_detail.location_birth }}</td>
        </tr>
        <tr>
            <td><strong>Дата рождения:</strong></td>
            <td>{{ person_detail.birth_date }}</td>
        </tr>
        <tr>
            <td><strong>Мeсто смерти:</strong></td>
            <td>{{ person_detail.location_death }}</td>
        </tr>
        <tr>
            <td><strong>Дата смерти:</strong></td>
            <td>{{ person_detail.death_date }}</td>
        </tr>
        <tr>
            <td><strong>Текущий статус:</strong></td>
            <td>{{ status_ }}</td>
        </tr>
        </tbody>
    </table>
</div>
<div style="margin-left:20px;margin-top:20px">
    <h4>Текущие кондиции: </h4>
    <table class="editorDemoTable">
        <tbody>
        <tr>
            <td>Здоровье:</td>
            <td>{{ health }}</td>
        </tr>
        <tr>
            <td>Ментальное здоровье:</td>
            <td>{{ mental_health }}</td>
        </tr>
        <tr>
            <td>Выносливость:</td>
            <td>{{ endurance }}</td>
        </tr>
        <tr>
            <td>Мана:</td>
            <td>{{ mana }}</td>
        </tr>
        <tr>
            <td>Голод:</td>
            <td>{{ hungry }}</td>
        </tr>
        <tr>
            <td>Интоксикация:</td>
            <td>{{ intoxication }}</td>
        </tr>
        <tr>
            <td>Переносимый вес:</td>
            <td>{{ load_capacity }}</td>
        </tr>
        <tr>
            <td>Среднее сопротивление к физическому урону:</td>
            <td>{{ avg_physic_resistance }}</td>
        </tr>
        <tr>
            <td>Среднее сопротивление к магическому урону:</td>
            <td>{{ avg_magic_resistance }}</td>
        </tr>
        </tbody>
    </table>
</div>
<div style="margin-left:20px;margin-top:20px">
    <table class="editorDemoTable">
        <tbody>
        <tr>
            <td><strong>Членство в группе:</strong></td>
            <td>{{ group_status }}</td>
        </tr>
        {% if group_status != 'в группе' %}
        <tr>
            {% if person_detail.created_by.username == user.username %}
            <td>

                <p><a href="{% url 'poll:group-add' person_detail.id %}"> + Организовать группу? </a></p>
                <p><a href="{% url 'poll:membership-update' person_detail.id %}"> + Вступить в группу? </a></p>

            </td>
            <td></td>
            {% endif %}
            {% else %}
            <td><strong> Организатор группы : </strong></td>
            <td><a href="/poll/person/{{inviter_person.id }}/"> {{inviter_person.person_name}}</a></td>
        </tr>
        <tr>
            <td><strong>Участники группы: </strong></td>
            <td>
                {% for participant in participants %}
                <ul>
                    <li><a href="/poll/person/{{ participant.id }}/"> {{ participant.person_name }}</a></li>
                </ul>
                {% endfor %}
            </td>
        </tr>
        <tr>
            <td>
                {% if inviter_person.person_name == person_detail.person_name %}
                <p><a href="{% url 'poll:group-delete' person_detail.id %}"> + Пригласить в группу?</a></p>
                <p><a href="{% url 'poll:group-delete' person_detail.id %}"> + Удалить из группы?</a></p>
                {% else %}
                <p><a href="{% url 'poll:group-delete' person_detail.id %}"> + Выйти из группы?</a></p>
                {% endif %}
            </td>
            <td></td>


        </tr>
        {% endif %}
        </tbody>
    </table>
</div>
<div style="margin-left:20px;margin-top:20px">
    <h4>Текущие очки характеристик: </h4>
    <table class="editorDemoTable">
        <tbody>
        {% for key, value in summary_points.items %}
        <tr>
            <td>
               {{ key}}
            </td>
            <td>{{ value }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<div style="margin-left:20px;margin-top:20px">
    <h4>Текущие очки сопротивлений: </h4>
    <table class="editorDemoTable">
        <tbody>
        {% for key, value in summary_resistances.items %}
        <tr>
            <td>
                {{key }}
            </td>
            <td>{{ value }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<div style="margin-left:20px;margin-top:20px">
    <h4>Текущие очки навыков: </h4>
    <table class="editorDemoTable">
        <tbody>
        {% for key, value in summary_permissions.items %}
        <tr>
            <td>
              {{ key }}
            </td>
            <td>{{ value }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<div style="margin-left:20px;margin-top:20px">
    <h4>Снаряжение: </h4>
    <table class="editorDemoTable">
        <tbody>

        {% for key, value in summary_equipment.items %}
        <tr>
            <td>{{ key }}</td>
            <td>{{ value }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<div style="margin-left:20px;margin-top:20px">
    <table class="editorDemoTable">
        <tbody>
        <tr>
            <td>Нераспределенные очки:</td>
            <td>{{ unallocated_points}}</td>
        </tr>

        <tr>
            <td>Нераспределенные умения:</td>
            <td>{{ unallocated_permissions}}</td>
        </tr>
        </tbody>
    </table>


</div>

{% if person_detail.created_by.username == user.username %}
<p><a href="{% url 'poll:person-update' person_detail.id %}">+ Редактировать Персонаж </a></p>
<p><a href="{% url 'poll:person-delete' person_detail.pk %}">- Удалить Персонаж</a></p>
{% endif %}
<p><a href="{% url 'poll:owners-list' %}"> Список игроков </a></p>
<p><a href="{% url 'poll:persons-list' %}"> Список персонажей </a></p>
<p><a href="{% url 'poll:races-list' %}"> Список рас </a></p>
<p><a href="{% url 'poll:groups-list' %}"> Список групп </a></p>
<p><a href="{% url 'poll:actions-list' %}"> Список Действий </a></p>
{% endblock %}


