{% extends "poll/header.html" %}

{% block content %}
<h1>Персонаж: {{ person_detail.person_name }}</h1>
<div style="margin-left:20px;margin-top:20px">

    <table class="editorDemoTable">
        <tbody>
        <tr>
            <td><strong> Владелец: </strong></td>
            <td><strong><a href="/poll/owner/{{ person_detail.owner.id }}/">{{ person_detail.owner.owner_name }} </a></strong></td>
        </tr>
        <tr>
            <td><strong>Краткое описание:</strong></td>
            <td> {{ person_detail.description }}</td>
        </tr>
        <tr>
            <td><strong>Ссылка:</strong></td>
            <td>{{ person_detail.link }}</td>
        </tr>
        <tr>
            <td><strong>Биография:</strong></td>
            <td> {{ person_detail.biography }}</td>
        </tr>
        <tr>
            <td><strong>Характер:</strong></td>
            <td> {{ person_detail.character }}</td>
        </tr>
        <tr>
            <td><strong>Интересы:</strong></td>
            <td> {{ person_detail.interests }}</td>
        </tr>
        <tr>
            <td><strong>Фобии:</strong></td>
            <td> {{ person_detail.phobias }}</td>
        </tr>
        <tr>
            <td><strong>Раса:</strong></td>
            <td>{{ person_detail.race }}</td>
        </tr>
        <tr>
            <td><strong>Слабости и особенности:</strong></td>
            <td>{{ person_detail.race }}</td>
        </tr>
        <tr>
            <td><strong>Основная характеристика:</strong></td>
            <td>{{ main_points }}</td>
        </tr>
        <tr>
            <td><strong>Основное умение:</strong></td>
            <td>{{ main_permission }}</td>
        </tr>
        <tr>
            <td><strong>Мeсто возрождения:</strong></td>
            <td>{{ person_detail.location_id_birth }}</td>
        </tr>
        <tr>
            <td><strong>Дата рождения:</strong></td>
            <td>{{ person_detail.birth_date }}</td>
        </tr>
        <tr>
            <td><strong>Мeсто смерти:</strong></td>
            <td>{{ person_detail.location_id_death }}</td>
        </tr>
        <tr>
            <td><strong>Дата смерти:</strong></td>
            <td>{{ person_detail.death_date }}</td>
        </tr>
        <tr>
            <td><strong>Текущий статус:</strong></td>
            <td>{{ status_ }}</td>
        </tr>
        </tbody>
    </table>
</div>
<div style="margin-left:20px;margin-top:20px">
    <h4>Текущие кондиции: </h4>
    <table class="editorDemoTable">
        <tbody>
        <tr>
            <td>Здоровье:</td>
            <td>{{ health }}</td>
        </tr>
        <tr>
            <td>Ментальное здоровье:</td>
            <td>{{ mental_health }}</td>
        </tr>
        <tr>
            <td>Выносливость:</td>
            <td>{{ endurance }}</td>
        </tr>
        <tr>
            <td>Мана:</td>
            <td>{{ mana }}</td>
        </tr>
        <tr>
            <td>Голод:</td>
            <td>{{ hungry }}</td>
        </tr>
        <tr>
            <td>Интоксикация:</td>
            <td>{{ intoxication }}</td>
        </tr>
        <tr>
            <td>Переносимый вес:</td>
            <td>{{ load_capacity }}</td>
        </tr>
        <tr>
            <td>Среднее сопротивление к физическому урону:</td>
            <td>{{ avg_physic_resistance }}</td>
        </tr>
        <tr>
            <td>Среднее сопротивление к магическому урону:</td>
            <td>{{ avg_magic_resistance }}</td>
        </tr>
        </tbody>
    </table>
</div>
<div style="margin-left:20px;margin-top:20px">
    <table class="editorDemoTable">
        <tbody>
        <tr>
            <td><strong>Членство в группе:</strong></td>
            <td>{{ group_status }}</td>
        </tr>
        {% if group_status != 'в группе' %}
        <tr>
            {% if person_detail.created_by.username == user.username %}
            <td>

                <p><a href="{% url 'poll:group-add' person_detail.id %}"> + Организовать группу? </a></p>
                <p><a href="{% url 'poll:membership-update' person_detail.id %}"> + Вступить в группу? </a></p>

            </td>
            <td></td>
            {% endif %}
            {% else %}
            <td><strong> Организатор группы : </strong></td>
            <td><a href="/poll/person/{{inviter_person.id }}/"> {{inviter_person.person_name}}</a></td>
        </tr>
        <tr>
            <td><strong>Участники группы: </strong></td>
            <td>
                {% for participant in participants %}
                <ul>
                    <li><a href="/poll/person/{{ participant.id }}/"> {{ participant.person_name }}</a></li>
                </ul>
                {% endfor %}
            </td>
        </tr>
        <tr>
            <td>
                {% if inviter_person.person_name == person_detail.person_name %}
                <p><a href="{% url 'poll:group-delete' person_detail.id %}"> + Пригласить в группу?</a></p>
                <p><a href="{% url 'poll:group-delete' person_detail.id %}"> + Удалить из группы?</a></p>
                {% else %}
                <p><a href="{% url 'poll:group-delete' person_detail.id %}"> + Выйти из группы?</a></p>
                {% endif %}
            </td>
            <td></td>


        </tr>
        {% endif %}
        </tbody>
    </table>
</div>
<div style="margin-left:20px;margin-top:20px">
    <h4>Текущие очки характеристик: </h4>
    <table class="editorDemoTable">
        <tbody>
        {% for key, value in summary_points.items %}
        <tr>
            <td>
                {% if key == 'SP_START' %}
                Стамина
                {% elif key == 'MP_START' %}
                Колдовство
                {% elif key == 'IP_START' %}
                Интеллект
                {% elif key == 'PP_START' %}
                Сила
                {% elif key == 'AP_START' %}
                Ловкость
                {% elif key == 'FP_START' %}
                Вера
                {% elif key == 'LP_START' %}
                Удача
                {% elif key == 'CP_START' %}
                Харизма
                {% elif key == 'BP_START' %}
                Рассудок
                {% endif %}
            </td>
            <td>{{ value }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<div style="margin-left:20px;margin-top:20px">
    <h4>Текущие очки сопротивлений: </h4>
    <table class="editorDemoTable">
        <tbody>
        {% for key, value in summary_resistances.items %}
        <tr>
            <td>
                {% if key == "fire_res_start" %}
                Огонь
                {% elif key == "water_res_start" %}
                Вода
                {% elif key == "wind_res_start"%}
                Воздух
                {% elif key == "dirt_res_start" %}
                Земля
                {% elif key == "lightning_res_start" %}
                Молнии
                {% elif key == "holy_res_start" %}
                Свет
                {% elif key == "curse_res_start"%}
                Тьма
                {% elif key == "crush_res_start" %}
                Дробление
                {% elif key == "cut_res_start" %}
                Порезы
                {% elif key == "stab_res_start" %}
                Протыкание
                {% endif %}
            </td>
            <td>{{ value }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<div style="margin-left:20px;margin-top:20px">
    <h4>Текущие очки навыков: </h4>
    <table class="editorDemoTable">
        <tbody>
        {% for key, value in summary_permissions.items %}
        <tr>
            <td>
                {% if key == "Fire_access_start" %}
                Пирокинектика
                {% elif key == "Water_access_start" %}
                Гидрософистика
                {% elif key == "Wind_access_start" %}
                Аэрософистика
                {% elif key == "Dirt_access_start" %}
                Геомантия
                {% elif key == "Lightning_access_start" %}
                Киловактика
                {% elif key == "Holy_access_start" %}
                Элафристика
                {% elif key == "Curse_access_start" %}
                Катифристика
                {% elif key == "Bleed_access_start" %}
                Гематомантия
                {% elif key == "Nature_access_start" %}
                Ботаника
                {% elif key == "Mental_access_start" %}
                Псифистика
                {% elif key == "Twohanded_access_start" %}
                Владение навыками Двуручного оружия
                {% elif key == "Polearm_access_start" %}
                Владение навыками Древкового оружия
                {% elif key == "Onehanded_access_start" %}
                Владение навыками Одноручного оружия
                {% elif key == "Stabbing_access_start"%}
                Владение навыками Колющего оружия
                {% elif key == "Cutting_access_start" %}
                Владение навыками Режущего оружия
                {% elif key == "Crushing_access_start" %}
                Владение навыками Дробящего оружия
                {% elif key == "Small_arms_access_start" %}
                Владение навыками Стрелкового оружия
                {% elif key == "Shields_access_start" %}
                Владение навыками Стрелкового оружия
                {% endif %}
            </td>
            <td>{{ value }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<div style="margin-left:20px;margin-top:20px">
    <h4>Снаряжение: </h4>
    <table class="editorDemoTable">
        <tbody>

        {% for key, value in summary_equipment.items %}
        <tr>
            <td>
                {% if key == "HELMET_STATUS_START" %}
                Шлем
                {% elif key == "CHEST_STATUS_START" %}
                Нагрудник
                {% elif key == "SHOES_STATUS_START" %}
                Сапоги
                {% elif key == "GLOVES_STATUS_START" %}
                Наручи
                {% elif key == "ITEM_SLOT_START" %}
                Прочее

                {% endif %}
            </td>
            <td>{{ value }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<div style="margin-left:20px;margin-top:20px">
    <table class="editorDemoTable">
        <tbody>
        <tr>
            <td>Нераспределенные очки:</td>
            <td>{{ unallocated_points}}</td>
        </tr>

        <tr>
            <td>Нераспределенные умения:</td>
            <td>{{ unallocated_permissions}}</td>
        </tr>
        </tbody>
    </table>


</div>

{% if person_detail.created_by.username == user.username %}
<p><a href="{% url 'poll:person-update' person_detail.id %}">+ Редактировать Персонаж </a></p>
<p><a href="{% url 'poll:person-delete' person_detail.pk %}">- Удалить Персонаж</a></p>
{% endif %}
<p><a href="{% url 'poll:owners-list' %}"> Список игроков </a></p>
<p><a href="{% url 'poll:persons-list' %}"> Список персонажей </a></p>
<p><a href="{% url 'poll:races-list' %}"> Список рас </a></p>
<p><a href="{% url 'poll:groups-list' %}"> Список групп </a></p>
{% endblock %}


