{% extends "poll/header.html" %}
{% block content %}
<div class="container-fluid" style="margin-left:20px;margin-top:65px">
    <div class="row">
        <table class="table table-bordered border-primary table-sm table-hover" border="1">
            <tbody>
            <tr>
              <td>Название</td><td> {{ money_detail.get_money_type_display }} </td>
            </tr>
             <tr>
              <td>Вес, г </td><td>{{ money_detail.weight }}</td>
            </tr>
            <tr>
              <td>Номинал, ед.</td><td>{{ money_detail.rate }}</td>
            </tr>
           </tbody>
        </table>

    </div>
<hr>
{% if user.username == 'gameadmin' %}
  <p align="left"> <a href="{% url 'poll:money-update' money_detail.pk %}">+ Изменить Ценность {{ money_detail.money_type }}?</a></p>
  <p align="left"><a href="{% url 'poll:money-delete' money_detail.pk %}">- Удалить Ценность {{ money_detail.money_type }}?</a></p>
{% endif %}
</div>
{% endblock %}