{% extends "poll/header.html" %}
{% block content %}
    <h1>Список Действий</h1>
    <ul>
    {% for action in actions_list %}
        <li><a href="/poll/action/{{ action.id }}/">{{ action.action_name }}</a></li>
    {% endfor %}
    </ul>
<p><a href="{% url 'poll:owners-list' %}"> Список игроков </a></p>
<p><a href="{% url 'poll:persons-list' %}"> Список персонажей </a></p>
<p><a href="{% url 'poll:races-list' %}"> Список рас </a></p>
<p><a href="{% url 'poll:groups-list' %}"> Список групп </a></p>
<p><a href="{% url 'poll:action-add' %}">+ Добавить Действие</a></p>


{% endblock %}