{% block personlocation %}
<!-- Это раздел, где будут локация-->
<div class="accordion" id="loc_{{person_detail.id}}">
    <div class="accordion-item">
        <h6 class="accordion-header" id="header_loc_{{person_detail.id}}">
            <button class="accordion-button collapsed table-sm" type="button" data-bs-toggle="collapse"
                    style="--bs-accordion-btn-padding-y:0.25rem"
                    data-bs-target="#body_loc_{{person_detail.id}}" aria-expanded="true"
                    aria-controls="body_loc_{{person_detail.id}}">
                <strong>Местонахождение</strong>
            </button>
        </h6>
           <div id="body_loc_{{person_detail.id}}" class="accordion-collapse collapse"
                aria-labelledby="header_loc_{{person_detail.id}}" data-bs-parent="#loc_{{person_detail.id}}">
               <div class="accordion-body">
                   <small>
                   Здесь будут координаты, Зоны и др
                   <table class="table table-bordered border-primary table-sm table-hover" border="1">
                       <thead>
                            <tr>
                                <td>Зона</td><td>Фракция</td><td>Регион</td><td>Дистрикт</td><td>Лок.к-ты</td><td>Гл. к-ты</td>
                            </tr>
                       </thead>
                       <tbody>
                             {% for where_am_i in person_detail.where_my_persons %}<!-- переписать-->
                             <tr>Локация: {{ where_am_i.location.location_name }}</tr>
                            <tr>
                                <td>{{ where_am_i.zone.zone_name }}</td>
                                <td>{{ where_am_i.fraction.fraction_name }}</td>
                                <td>{{ where_am_i.region.region_name }}</td>
                                <td>{{ where_am_i.district.district_name }}</td>
                                <td>{{ where_am_i.region.x }} {{ where_am_i.region.y }}</td>
                                <td>{{ where_am_i.district.x }} {{ where_am_i.district.y }}</td>
                            </tr>
                            {% endfor %}
                       </tbody>
                   </table>
                       </small>
               </div>
           </div>
    </div>
</div>
{% endblock personlocation %}




