{% extends "poll/header.html" %}
{% block content %}

<div style="margin-left:20px;margin-top:20px">
    <p><h4>Изображение: </h4> <img src="{{ object.race_img.url }}">
    <p> {{ race_detail.race_description|safe }}</p>
    <p><h4>Продолжительность жизни: </h4> {{ race_detail.lifetime }}
    <table class="editorDemoTable" width="350" border="1">
        <tbody>
        <tr>
            <td colspan="2"><h4>Стартовые очки характеристик: </h4></td>
        </tr>
        {% for key, value in start_points.items %}
        <tr>
            <td>{{ key }}</td>
            <td>{{ value }}</td>
        </tr>
        {% endfor %}
        <tr>
            <td colspan="2"><h4>Предельные очки характеристик: </h4></td>
        </tr>

        {% for key, value in finish_points.items %}
        <tr>
            <td> {{ key }}</td>
            <td>{{ value }}</td>
        </tr>
        {% endfor %}
        <tr>
            <td colspan="2"><h4>Стартовые очки устойчивости: </h4></td>
        </tr>
        {% for key, value in start_resistances.items %}
        <tr>
            <td>{{ key }}</td>
            <td>{{ value }}</td>
        </tr>
        {% endfor %}
        <tr>
            <td colspan="2"><h4>Стартовые очки навыков: </h4></td>
        </tr>

        {% for key, value in start_permissions.items %}
        <tr>
            <td>{{ key }}</td>
            <td>{{ value }}</td>
        </tr>
        {% endfor %}
        <tr>
            <td colspan="2"><h4>Снаряжение: </h4></td>
        </tr>

        {% for key, value in equipment.items %}
        <tr>
            <td>{{ key }}</td>
            <td>{{ value }}</td>
        </tr>
        {% endfor %}
        <tr>
            <td><h4>Дальность обзора: </h4></td>
            <td>{{ rov }}</td>
        </tr>
        <tr>
            <td><h4>Область обзора: </h4></td>
            <td>{{ rov }}</td>
        </tr>
        </tbody>
    </table>
    {% if user.username == 'gameadmin' %}
    <p><a href="{% url 'poll:race-update' race_detail.pk %}">+ Изменить данные расы?</a></p>
    <p><a href="{% url 'poll:race-delete' race_detail.pk %}">- Удалить расу?</a></p>
    {% endif %}
</div>


{% endblock %}