{% block personsafe_about %}
<div class="accordion" id="saf_about_{{person_detail.id}}">
    <div class="accordion-item">
        <h2 class="accordion-header" id="header_saf_{{person_detail.id}}">
            <button class="accordion-button collapsed table-sm" style="--bs-accordion-btn-padding-y:0.25rem" type="button" data-bs-toggle="collapse"
                    data-bs-target="#body_saf_{{person_detail.id}}" aria-expanded="true"
                    aria-controls="body_saf_{{person_detail.id}}">
                <strong>Сейф</strong>
            </button>
        </h2>
        <div id="body_saf_{{person_detail.id}}" class="accordion-collapse collapse"
             aria-labelledby="header_saf_{{person_detail.id}}" data-bs-parent="#saf_about_{{person_detail.id}}">
            <div class="accordion-body">
                <table class="table table-bordered border-primary table-sm table-hover" border="1">
                    <tbody>
                    {% for safe_detail in person_detail.safe_set.all %}
                    {% if safe_detail.safe_name %}
                    <tr>
                        <td>Название</td>
                        <td> {{ safe_detail.safe_name }}</td>
                    </tr>
                    {% endif %}
                    {% if safe_detail.safe_description %}
                    <tr>
                        <td>Описание</td>
                        <td>{{ safe_detail.safe_description|safe }}</td>
                    </tr>
                    {% endif %}

                    <tr>
                        <td>Стоимость аренды</td>
                        <td>{{ safe_detail.rental_price }}</td>
                    </tr>
                    <tr>
                        <td>Макс. стоимость</td>
                        <td>{{ safe_detail.safe_max_value }}</td>
                    </tr>
                    <tr>
                        <td>Текущий вес, в т.ч.</td>

                        <td>{{ safe_detail.safe_sum_weight }}</td>
                    </tr>
                    <tr>
                        <td>Вес расходников</td>
                        <td>{{ safe_detail.safe_consumables_sum_weight }}</td>
                    </tr>
                    <tr>
                        <td>Вес артефактов</td>
                        <td>{{ safe_detail.safe_things_sum_weight }}</td>
                    </tr>
                     <tr>
                        <td>Вес ценностей</td>
                        <td>{{ safe_detail.safe_money_sum_weight }}</td>
                    </tr>
                    <tr>
                        <td>Стоимость, в т.ч.</td>
                        <td>{{ safe_detail.safe_sum_value}}</td>
                    </tr>
                    <tr>
                        <td>Стоимость расходников</td>
                        <td>{{ safe_detail.safe_consumables_sum_value }}</td>
                    </tr>
                    <tr>
                        <td>Стоимость артефактов</td>
                        <td>{{ safe_detail.safe_things_sum_value }}</td>
                    </tr>
                    <tr>
                        <td>Стоимость ценностей</td>
                        <td>{{ safe_detail.safe_money_sum_value }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock personsafe_about %}
