{% block personsafe %}
{% load poll_extras %}
 <!-- Это навигационная панель с вкладками Артефакты-расходники-деньги -->
<ul class="nav nav-tabs" id="saf">
  <li class="nav-item" id="safeid_th_{{person_detail.id}}">
    <a class="nav-link"  href="#safe_th_{{person_detail.id}}"><small>Артефакты</small></a>
  </li>
  <li class="nav-item" id="safeid_cons_{{person_detail.id}}">
    <a class="nav-link" href="#safe_cons_{{person_detail.id}}"><small>Расходники</small></a>
  </li>
  <li class="nav-item" id="safeid_money_{{person_detail.id}}">
    <a class="nav-link" href="#safe_money_{{person_detail.id}}"><small>Деньги</small></a>
  </li>
 </ul>
<!-- Это раздел, где будут артефакты-->
<div id="safe_th_{{person_detail.id}}">
  Это аккордеон для списка артефактов в сейфе
  Внутри таблица со списком артефактов
    {% for safe_detail in person_detail.safe_set.all %}
   <div class="accordion" id="saf_th{{person_detail.id}}">
       <div class="accordion-item">
           <h6 class="accordion-header" id="header_saf_th{{person_detail.id}}">
               <button class="accordion-button collapsed table-sm" type="button" data-bs-toggle="collapse"
                       style="--bs-accordion-btn-padding-y:0.25rem"
                       data-bs-target="#body_saf_th{{person_detail.id}}" aria-expanded="true"
                       aria-controls="body_saf_th{{person_detail.id}}">
                   <strong>Содержимое</strong>
               </button>
           </h6>
           <div id="body_saf_th{{person_detail.id}}" class="accordion-collapse collapse"
                aria-labelledby="header_saf_th{{person_detail.id}}" data-bs-parent="#saf_th{{person_detail.id}}">
               <div class="accordion-body">
                   <table class="table table-bordered border-primary table-sm table-hover" border="1">
                       <thead>
                            <tr>
                                <td>Название</td><td>Вес</td><td>Выбор</td>
                            </tr>
                       </thead>
                       <tbody>
                             {% for thing_detail in safe_detail.thing_set.all %}
                            <tr>
                                <td>
                                    {{ thing_detail.thing_name }}
                                </td>
                                <td>
                                    {{ thing_detail.weight }}
                                </td>

                                <td>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="thing{{ thing_detail.id }}">
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                       </tbody>
                   </table>
               </div>
           </div>
       </div>
   </div>
    {% endfor %}
</div>
<!-- Это раздел, где будут расходники -->
<div id="safe_cons_{{person_detail.id}}">
  Это аккордеон для списка расходников в сейфе
  Внутри таблица со списком расходников
  {% for safe_detail in person_detail.safe_set.all %}
   <div class="accordion" id="saf_cons{{person_detail.id}}">
       <div class="accordion-item">
           <h6 class="accordion-header" id="header_saf_cons{{person_detail.id}}">
               <button class="accordion-button collapsed table-sm" type="button" data-bs-toggle="collapse"
                       style="--bs-accordion-btn-padding-y:0.25rem"
                       data-bs-target="#body_saf_cons{{person_detail.id}}" aria-expanded="true"
                       aria-controls="body_saf_cons{{person_detail.id}}">
                   <strong>Содержимое</strong>
               </button>
           </h6>
           <div id="body_saf_cons{{person_detail.id}}" class="accordion-collapse collapse"
                aria-labelledby="header_saf_cons{{person_detail.id}}" data-bs-parent="#saf_cons{{person_detail.id}}">
               <div class="accordion-body">
                   <table class="table table-bordered border-primary table-sm table-hover" border="1">
                       <thead>
                            <tr>
                                <td>Название</td><td>Вес</td><td>Кол-во</td><td>Выбор</td>
                            </tr>
                       </thead>
                        <tbody>
                            {% for consumable_detail in safe_detail.consumable_set.all %}
                            <tr>
                                <td>
                                    {{ consumable_detail.consumable_name }}
                                </td>
                                <td>
                                    {{ consumable_detail.weight }}
                                </td>
                                <td>
                                    {{ consumable_detail.quantity }}
                                </td>

                                <td>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="consumable{{ consumable_detail.id }}">
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                       </tbody>
                   </table>
               </div>
           </div>
       </div>
   </div>
    {% endfor %}
</div>
<!-- Это раздел, где будут деньги  -->
<div id="safe_money_{{person_detail.id}}">
  Это аккордеон для списка ценностей в сейфе
  Внутри таблица со списком ценностей
      {% for safe_detail in person_detail.safe_set.all %}
   <div class="accordion" id="saf_mon{{person_detail.id}}">
       <div class="accordion-item">
           <h6 class="accordion-header" id="header_saf_mon_{{person_detail.id}}">
               <button class="accordion-button collapsed table-sm" type="button" data-bs-toggle="collapse"
                       style="--bs-accordion-btn-padding-y:0.25rem"
                       data-bs-target="#body_saf_mon{{person_detail.id}}" aria-expanded="true"
                       aria-controls="body_saf_mon{{person_detail.id}}">
                   <strong>Содержимое</strong>
               </button>
           </h6>
           <div id="body_saf_mon{{person_detail.id}}" class="accordion-collapse collapse"
                aria-labelledby="header_saf_mon{{person_detail.id}}" data-bs-parent="#saf_mon{{person_detail.id}}">
               <div class="accordion-body">
                   <table class="table table-bordered border-primary table-sm table-hover" border="1">
                       <thead>
                            <tr>
                                <td>Название</td><td>Вес</td><td>Номинал</td><td>Кол-во</td><td>Выбор</td>
                            </tr>
                       </thead>
                       <tbody>
                            {% for money_detail in safe_detail.money_set.all %}
                            <tr>
                                <td>
                                    {{ money_detail.money_type }}
                                </td>
                                <td>
                                    {{ money_detail.weight }}
                                </td>
                                <td>
                                    {{ money_detail.rate }}
                                </td>
                                <td>
                                    {{ money_detail.amount }}
                                </td>

                                <td>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="money{{ money_detail.id }}">
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                       </tbody>
                   </table>
               </div>
           </div>
       </div>
   </div>
    {% endfor %}
</div>
{% endblock personsafe %}




