{% extends "poll/header.html" %}
{% block content %}
<div style="margin-left:20px;margin-top:65px">
    <div class="container">
        <div class="row">
            <h1>Рюкзаки</h1>
           <ul class="list-group">
            {% for item in inventories_list %}
                <li class="list-group-item" aria-current="true"><a href="/poll/inventories/{{ inventory.id }}/">{{ inventory.inventory_name }}</a></li>
            {% endfor %}
            </ul>
            {% if user.username == 'gameadmin' %}
            <p><a href="{% url 'poll:safe-add' %}">+ Добавить Рюкзак?</a></p>
            {% endif %}
         </div>
    </div>
</div>
{% endblock content %}


