{% extends "poll/header.html" %}
{% block personinventory_about %}
<div class="accordion" id="inv_about_{{person_detail.id}}">
    <div class="accordion-item">
        <h2 class="accordion-header" id="header_inv_{{person_detail.id}}">
            <button class="accordion-button collapsed table-sm" style="--bs-accordion-btn-padding-y:0.25rem"
                    type="button" data-bs-toggle="collapse"
                    data-bs-target="#body_inv_{{person_detail.id}}" aria-expanded="true"
                    aria-controls="body_inv_{{person_detail.id}}">
                <strong>Инвентарь</strong>
            </button>
        </h2>
        <div id="body_inv_{{person_detail.id}}" class="accordion-collapse collapse"
             aria-labelledby="header_inv_{{person_detail.id}}" data-bs-parent="#inv_about_{{person_detail.id}}">
            <div class="accordion-body">
                <table class="table table-bordered border-primary table-sm table-hover" border="1">
                    <tbody>
                    {% for inventory_detail in person_detail.inventory_set.all %}
                    {% if inventory_detail.inventory_name %}
                    <tr>
                        <td>Название</td>
                        <td> {{ inventory_detail.inventory_name }}</td>
                    </tr>
                    {% endif %}
                    {% if inventory_detail.inventory_description %}
                    <tr>
                        <td>Описание</td>
                        <td>{{ inventory_detail.inventory_description|safe }}</td>
                    </tr>
                    {% endif %}

                    <tr>
                        <td>Максимальный вес</td>
                        <td>{{ inventory_detail.inventory_max_weight }}</td>
                    </tr>
                    <tr>
                        <td>Текущий вес, в т.ч.</td>

                        <td>{{ inventory_detail.sum_weight }}</td>
                    </tr>
                    <tr>
                        <td>Вес расходников</td>
                        <td>{{ inventory_detail.consumables_sum_weight }}</td>
                    </tr>
                    <tr>
                        <td>Вес ценностей</td>
                        <td>{{ inventory_detail.money_sum_weight }}</td>
                    </tr>
                    <tr>
                        <td>Вес артефактов</td>
                        <td>{{ inventory_detail.things_sum_weight }}</td>
                    </tr>
                    <tr>
                        <td>Стоимость, в т.ч.</td>
                        <td>{{ inventory_detail.sum_value}}</td>
                    </tr>
                    <tr>
                        <td>Стоимость расходников</td>
                        <td>{{ inventory_detail.consumables_sum_value }}</td>
                    </tr>
                    <tr>
                        <td>Стоимость артефактов</td>
                        <td>{{ inventory_detail.things_sum_value }}</td>
                    </tr>
                     <tr>
                        <td>Стоимость ценностей</td>
                        <td>{{ inventory_detail.money_sum_value }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock personinventory_about %}

{% block personinventory %}
  <!-- Это навигационная панель с вкладками Артефакты-расходники-деньги -->
<ul class="nav nav-tabs" id="inv">
  <li class="nav-item" id="invid_th_{{person_detail.id}}">
    <a class="nav-link"  href="#inventory_th_{{person_detail.id}}">Артефакты</a>
  </li>
  <li class="nav-item" id="invid_cons_{{person_detail.id}}">
    <a class="nav-link" href="#inventory_cons_{{person_detail.id}}">Расходники</a>
  </li>
  <li class="nav-item" id="invid_money_{{person_detail.id}}">
    <a class="nav-link" href="#inventory_money_{{person_detail.id}}">Деньги</a>
  </li>
 </ul>
<!-- Это раздел, где будут артефакты-->
<div id="inventory_th_{{person_detail.id}}">
  Это аккордеон для списка артефактов в рюкзаке
  Внутри таблица со списком артефактов
{% for inventory_detail in person_detail.inventory_set.all %}
   <div class="accordion" id="inv_th_{{person_detail.id}}">
       <div class="accordion-item">
           <h6 class="accordion-header" id="header_inv_th{{person_detail.id}}">
               <button class="accordion-button collapsed table-sm" type="button" data-bs-toggle="collapse"
                       style="--bs-accordion-btn-padding-y:0.25rem"
                       data-bs-target="#body_inv_th{{person_detail.id}}" aria-expanded="true"
                       aria-controls="body_inv_th{{person_detail.id}}">
                   <strong>Содержимое</strong>
               </button>
           </h6>
           <div id="body_inv_th{{person_detail.id}}" class="accordion-collapse collapse"
                aria-labelledby="header_inv_th{{person_detail.id}}" data-bs-parent="#inv_th{{person_detail.id}}">
               <div class="accordion-body">
                   <table class="table table-bordered border-primary table-sm table-hover" border="1">
                       <thead>
                            <tr>
                                <td>Название</td><td>Вес</td><td>Выбор</td>
                            </tr>
                       </thead>
                       <tbody>
                             {% for thing_detail in inventory_detail.thing_set.all %}
                            <tr>
                                <td>
                                    {{ thing_detail.thing_name }}
                                </td>
                                <td>
                                    {{ thing_detail.weight }}
                                </td>

                                <td>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="thing{{ thing_detail.id }}">
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                       </tbody>
                   </table>
               </div>
           </div>
       </div>
   </div>
{% endfor %}
</div>
<!-- Это раздел, где будут расходники -->
<div id="inventory_cons_{{person_detail.id}}">
  Это аккордеон для списка расходников в рюкзаке
  Внутри таблица со списком расходников
{% for inventory_detail in person_detail.inventory_set.all %}
   <div class="accordion" id="inv_cons_{{person_detail.id}}">
       <div class="accordion-item">
           <h6 class="accordion-header" id="header_inv_cons{{inventory.id}}">
               <button class="accordion-button collapsed table-sm" type="button" data-bs-toggle="collapse"
                       style="--bs-accordion-btn-padding-y:0.25rem"
                       data-bs-target="#body_inv_cons{{inventory.id}}" aria-expanded="true"
                       aria-controls="body_inv_cons{{inventory.id}}">
                   <strong>Содержимое</strong>
               </button>
           </h6>
           <div id="body_inv_cons{{inventory.id}}" class="accordion-collapse collapse"
                aria-labelledby="header_inv_cons{{inventory.id}}" data-bs-parent="#inv_cons{{inventory.id}}">
               <div class="accordion-body">
                   <table class="table table-bordered border-primary table-sm table-hover" border="1">
                       <thead>
                            <tr>
                                <td>Название</td><td>Вес</td><td>Кол-во</td><td>Выбор</td>
                            </tr>
                       </thead>
                        <tbody>
                            {% for consumable_detail in inventory.consumable_set.all %}
                            <tr>
                                <td>
                                    {{ consumable_detail.consumable_name }}
                                </td>
                                <td>
                                    {{ consumable_detail.weight }}
                                </td>
                                <td>
                                    {{ consumable_detail.quantity }}
                                </td>

                                <td>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="consumable{{ consumable_detail.id }}">
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                       </tbody>
                   </table>
               </div>
           </div>
       </div>
   </div>
{% endfor %}
</div>
<!-- Это раздел, где будут деньги  -->
<div id="inventory_money_{{person_detail.id}}">
  Это аккордеон для списка ценностей в рюкзаке
  Внутри таблица со списком ценностей
{% for inventory_detail in person_detail.inventory_set.all %}
   <div class="accordion" id="inv_mon_{{person_detail.id}}">
       <div class="accordion-item">
           <h6 class="accordion-header" id="header_inv_mon{{inventory.id}}">
               <button class="accordion-button collapsed table-sm" type="button" data-bs-toggle="collapse"
                       style="--bs-accordion-btn-padding-y:0.25rem"
                       data-bs-target="#body_inv_mon{{inventory.id}}" aria-expanded="true"
                       aria-controls="body_inv_mon{{inventory.id}}">
                   <strong>Содержимое</strong>
               </button>
           </h6>
           <div id="body_inv_mon{{inventory.id}}" class="accordion-collapse collapse"
                aria-labelledby="header_inv_mon{{inventory.id}}" data-bs-parent="#inv_mon{{inventory.id}}">
               <div class="accordion-body">
                   <table class="table table-bordered border-primary table-sm table-hover" border="1">
                       <thead>
                            <tr>
                                <td>Название</td><td>Вес</td><td>Номинал</td><td>Кол-во</td><td>Выбор</td>
                            </tr>
                       </thead>
                       <tbody>
                            {% for money_detail in inventory.money_set.all %}
                            <tr>
                                <td>
                                    {{ money_detail.money_type }}
                                </td>
                                <td>
                                    {{ money_detail.weight }}
                                </td>
                                <td>
                                    {{ money_detail.rate }}
                                </td>
                                <td>
                                    {{ money_detail.amount }}
                                </td>

                                <td>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="money{{ money_detail.id }}">
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                       </tbody>
                   </table>
               </div>
           </div>
       </div>
   </div>
{% endfor %}
</div>
{% endblock personinventory %}




