{% extends "poll/header.html" %}
{% block content %}
<div class="container-fluid" style="margin-left:20px;margin-top:65px">
    <div class="row">
        <!--      Здесь должен быть аккордеон - справка по рюкзаку-->
        {% include "poll/inventory/inventory_detail_min.html" %}
        <!--      Здесь должен быть аккордеон с прокруткой - список Артефактов-->
        <div class="accordion" id="thing">
            <div class="accordion-item">
                <h2 class="accordion-header" id="header_thing_{{key_thing}}">
                    <button class="accordion-button collapsed table-sm" type="button" data-bs-toggle="collapse"
                            data-bs-target="#body_thing_{{key_thing}}" aria-expanded="true"
                            aria-controls="body_thing_{{key_thing}}">
                        <strong>Артефакты</strong>
                    </button>
                </h2>
                <div id="body_thing_{{key_thing}}" class="accordion-collapse collapse"
                     aria-labelledby="header_thing_{{key_thing}}" data-bs-parent="#thing">
                    <div class="accordion-body">
                        {% include "poll/inventory/inventory_detail_things.html" %}
                    </div>
                </div>
            </div>
        </div>
        <!--      Здесь должен быть аккордеон с прокруткой - список Расходников-->
       <div class="accordion" id="cons">
            <div class="accordion-item">
                <h2 class="accordion-header" id="header_cons_{{key_cons}}">
                    <button class="accordion-button collapsed table-sm" type="button" data-bs-toggle="collapse"
                            data-bs-target="#body_cons_{{key_cons}}" aria-expanded="true"
                            aria-controls="body_cons_{{key_cons}}">
                        <strong>Расходники</strong>
                    </button>
                </h2>
                <div id="body_cons_{{key_cons}}" class="accordion-collapse collapse"
                     aria-labelledby="header_cons_{{key_cons}}" data-bs-parent="#cons">
                    <div class="accordion-body">
                        {% include "poll/inventory/inventory_detail_consumables.html" %}
                    </div>
                </div>
            </div>
        </div>
                <!--      Здесь должен быть аккордеон с прокруткой - список Ценностей-->
       <div class="accordion" id="mon">
            <div class="accordion-item">
                <h2 class="accordion-header" id="header_mon_{{key_mon}}">
                    <button class="accordion-button collapsed table-sm" type="button" data-bs-toggle="collapse"
                            data-bs-target="#body_mon_{{key_mon}}" aria-expanded="true"
                            aria-controls="body_mon_{{key_mon}}">
                        <strong>Деньги</strong>
                    </button>
                </h2>
                <div id="body_mon_{{key_mon}}" class="accordion-collapse collapse"
                     aria-labelledby="header_mon_{{key_mon}}" data-bs-parent="#mon">
                    <div class="accordion-body">
                        {% include "poll/inventory/inventory_detail_money.html" %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    {% if user.username == 'gameadmin' %}
    <p align="left"><a href="{% url 'poll:inventory-update' inventory_detail.pk %}">+ Изменить Рюкзак {{
        inventory_detail.safe_name }}?</a></p>
    <p align="left"><a href="{% url 'poll:inventory-delete' inventory_detail.pk %}">- Удалить Рюкзак {{
        inventory_detail.safe_name }}?</a></p>
    {% endif %}
</div>
{% endblock %}