<!--Список Ценностей в рюкзаке-->
<table class="table table-bordered border-primary table-sm table-hover" border="1" xmlns="http://www.w3.org/1999/html">
      <tbody>
        <thead>
             <tr>
                <th>Название</th><th>Вес</th><th>Номинал</th>
            </tr>
        </thead>
       {% for item in inventory_detail.money.all %}
        <tr>
            <td><a href="/poll/money/{{ item.id }}/">{{ item.money_type_display }}</a></td>
            <td>{{ item.weight }}</td>
            <td>{{ item.rate }}</td>
        </tr>
        {% endfor %}
      </tbody>
  </table>




