{% extends "poll/header.html" %}
{% block content %}
 <div class="col-md-3" style="margin-left:20px;margin-top:65px">
     <div class="row">
        {% include "poll/owner/owner_detail_min.html" %}
         <table>
             <thead>
                 <tr>
                     <th>
                         <h4>Персонажи игрока:  </h4>
                     </th>
                 </tr>
             </thead>
             <tbody>
                {% for selected_person in owner_detail.person_set.all %}

                {% if user.username in "owner_detail.created_by.username gameadmin selected_person.created_by.username"   and owner_detail.id == selected_person.owner.id %}
                    <tr>
                         <td colspan="1"><h6><a href="/poll/persons/{{ selected_person.id }}/">{{ selected_person.person_name }}</a></h6></td>
                    </tr>
                     {% elif owner_detail.id != selected_person.owner.id %}
                    <tr>
                         <td colspan="1"><h6>{{ selected_person.person_name }}</h6></td>
                    </tr>
                     {% endif %}
                {% endfor %}
              </tbody>
         </table>
{% if user.username in " owner_detail.created_by.username gameadmin" %}
            <p></p>
            <p><a href="{% url 'poll:person-add'%}">+ Добавить персонаж?</a></p>
{% endif %}
     </div>
 </div>
{% endblock %}