<table class="table table-bordered border-primary table-sm table-hover" border="1">
    <thead>
        <tr>
            <th><h2 style="text-align: center;">{{ owner_detail.owner_name }}</h2></th>
        </tr>

    </thead>
    <tbody>
    <tr>
        {% if owner_detail.owner_img %}
        <td align="center"><img src="{{ owner_detail.owner_img.url }}" width="80" alt="owner_img"></td>
        {% endif %}
    </tr>
    <tr>

        <td><a href="{{ owner_detail.full_link }}">{{ owner_detail.link|slice:"17:" }}</a></td>
    </tr>
    <tr>

        <td>{{owner_status_}}</td>
    </tr>
    <tr>

        <td> В игре с {{owner_detail.created_by.date_joined|date:"d/m/Y"}}</td>
    </tr>
    <tr>

        <td> Последний сеанс {{owner_detail.created_by.last_login|date:"d/m/Y"}}</td>
    </tr>
    <tr>

        <td> {{ owner_detail.owner_description|safe }}</td>
    </tr>
    </tbody>
</table>
{% if user.username in " owner_detail.created_by.username gameadmin" %}
            <p></p>
            <p><a href="{% url 'poll:owner-update' owner_detail.pk %}">+ Изменить данные игрока</a></p>
            <p><a href="{% url 'poll:owner-delete' owner_detail.pk %}">- Удалить игрока?</a></p>

{% endif %}



