{% extends "poll/header.html" %}

{% block content %}
  <h1>Игрок: {{ owner_detail.owner_name }}</h1>

  <p><strong>Краткое описание:</strong> {{ owner_detail.description }}</p>
  <p><strong>Ссылка:</strong> {{ owner_detail.link }}</p>
  <p><strong>Текущий статус:</strong>  {{owner_status_}}</p>
  <div style="margin-left:20px;margin-top:20px">
    <h4>Персонажи игрока: </h4>
     <ul>
        {% for selected_person in owner_detail.person_set.all %}
            <li>
                {% if owner_detail.created_by.username == user.username
                and selected_person.created_by.username == user.username
                and owner_detail.id == selected_person.owner.id %}
                <a href="/poll/person/{{ selected_person.id }}/">{{ selected_person.person_name }}</a>
                {% elif owner_detail.id != selected_person.owner.id %}
                <a href="/poll/person/other/{{ selected_person.id }}/">{{ selected_person.person_name }}</a>
            </li>
        {% endfor %}
     </ul>
  </div>

{% if owner_detail.created_by.username == user.username %}
<p><a href="{% url 'poll:owner-update' owner_detail.pk %}">+ Изменить данные игрока</a></p>
<p><a href="{% url 'poll:owner-delete' owner_detail.pk %}">- Удалить игрока</a></p>
<p><a href="{% url 'poll:person-add' owner_detail.pk %}">+ Добавить персонаж</a></p>
{% endif %}
<p><a href="{% url 'poll:owners-list' %}"> Список игроков </a></p>
<p><a href="{% url 'poll:persons-list' %}"> Список персонажей </a></p>
<p><a href="{% url 'poll:races-list' %}"> Список рас </a></p>
<p><a href="{% url 'poll:groups-list' %}"> Список групп </a></p>
{% endblock %}