{% extends "poll/header.html" %}
{% block content %}
{% if user.username != "gameadmin" %}
{% for person_detail in owner_detail.person_set.all %}
<div class="row" id="p_{{person_detail.id}}">
    <!-- Это все персонажи и  их характеристики-->
    <!-- Видимым будет тот, у которого id = id вкладки-->
    <div class ="row">
    {% for personbar_detail in person_detail.personbar_set.all %}
        <!-- Это прогрессбары по каждому из персонажей тоже нужно прятать-->
        {% include "poll/personbar/personbar_detail.html" %}
    {% endfor %}
    </div>
    <div class="row">
    <div class="col-md-3 col-xl-3" style="margin-left:0px;">
        <div class="accordion" id="pers_selector_{{person_detail.id}}">
             <div class="accordion-item" id="pers_selected_{{person_detail.id}}">
                <h6 class="accordion-header" id="header_{{person_detail.id}}">
                    <button class="accordion-button collapsed  bg-success text-white table-sm "  style="--bs-accordion-btn-padding-y:0.25rem" type="button"
                            data-bs-toggle="collapse"
                            data-bs-target="#body_{{person_detail.id}}" aria-expanded="false"
                            aria-controls="body_{{person_detail.id}}">
                        <h6>{{person_detail.person_name}}</h6>
                    </button>
                </h6>
                <div id="body_{{person_detail.id}}" class="accordion-collapse collapse show"
                     aria-labelledby="header_{{person_detail.id}}" data-bs-parent="#pers_selector_{{person_detail.id}}">
                    <div class="accordion-body">
                           <!-- Краткие сведения о персонаже (портрет)-->
                        {% include "poll\person\person_detail_min.html"%}
                            <!-- Очки, навыки, устойчивочть и др.-->
                        {% include "poll\person\person_detail_other.html" with person_detail=person_detail %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Это инвентарь и сейфы-->
    <div class="col-md-3 col-xl-3">
        Инвентарь и сейфы
    </div>
    <!-- Это Группы, партии, локации-->
    <div class="col-md-4 col-xl-4">
        Группы, партии, локации
    </div>
</div>
</div>

{% endfor %}
<!-- Это попытка выбрать персонаж через кнопочный дропдаун -->
<script type="text/javascript">
        $(document).ready(function(){
         $("[id^='p_']").hide(); //все персонажи в содержимом вкладок скрыты
          //$("[id^='pers_selected_']").hide(); //все персонажи в аккордеоне скрыты
            const keys=['sp', 'mp','ip','pp','ap','lp', 'bp', 'cp','fp'];
            $("#sel li").click(function(){
               // $("[id^='pers_selected_']").hide();
                $("[id^='p_']").hide();
                 //$("#pers").text($(this).text());  // На кнопке пишем имя выбранного персонажа
                const personId = $(this).attr('id').split('_')[1];
                //console.log(personId);
                $("#selid").val($(this).attr('id'));  // в скрытом поле запоминаем его id
                $("#p_"+personId).show();

                let un_points =Number($("#unallocated_points_"+personId).val()); // Получаем нераспределенные очки

                let points=un_points;
                for (var i=0; i<=keys.length-1;i++) {
                    points+=Number($("#"+keys[i]+'_'+personId).val()); // сумма очков с учетом нераспределенных
                }
                const sum_points = points;
                //console.log(sum_points);
            });

        });

 </script>

{% endif %}
{% endblock content %}


