{% extends "poll/header.html" %}

{% block content %}
    {% if user.username != "gameadmin" %}
    {% for person_detail in owner_detail.person_set.all %}
    <div class="row" id="p_{{person_detail.id}}">
        <!-- Это все персонажи и их характеристики-->
        <!-- Видимым будет тот, у которого id = id вкладки-->
        <div class ="row">
        {% for personbar_detail in person_detail.personbar_set.all %}
            <!-- Это прогрессбары по каждому из персонажей тоже нужно прятать-->
            {% block progressbar %}
<!--            Здесь должны быть прогрессбары-->
                {% include "poll/personbar/personbar_progress.html" with personbar_detail=personbar_detail %}
            {%endblock progressbar %}
        {% endfor %}
        </div>
        <div class="row">

         <!-- Это  общий аккордеон по Персонажу, х-кам, навыкам-->
            <div class="col-md-3 col-xl-3" style="margin-left:0px;">
                <div class="accordion" id="pers_selector_{{person_detail.id}}">
                 <div class="accordion-item" id="pers_selected_{{person_detail.id}}">
                    <h6 class="accordion-header" id="header_{{person_detail.id}}">
                        <button class="accordion-button collapsed  bg-success text-dark table-sm"
                                style="--bs-accordion-btn-padding-y:0.25rem" type="button"
                                data-bs-toggle="collapse"
                                data-bs-target="#body_{{person_detail.id}}" aria-expanded="false"
                                aria-controls="body_{{person_detail.id}}">
                            {{person_detail.person_name}}
                        </button>
                    </h6>
                    <div id="body_{{person_detail.id}}" class="accordion-collapse collapse show"
                         aria-labelledby="header_{{ person_detail.id }}" data-bs-parent="#pers_selector_{{person_detail.id}}">
                        <div class="accordion-body">
                               <!-- Краткие сведения о персонаже (портрет)-->
                            {% block personportrait %}
                                {% include "poll\person\person_detail_min.html" with person_detail=person_detail %}
                            {% endblock personportrait %}

                                <!-- Очки, навыки, устойчивочть и др.-->
                            {% block personbar %}
                                {% include "poll\person\person_detail_other.html" with person_detail=person_detail %}
                            {% endblock personbar %}
                        </div>
                    </div>
                </div>
            </div>
            </div>

         <!-- Это  общий аккордеон по инвентарю,сейфу, заклинаниям-->
            <div class="col-md-4 col-xl-4">
                <div class="accordion" id="prop_selector_{{person_detail.id}}">
                 <div class="accordion-item" id="prop_selected_{{person_detail.id}}">
                    <h6 class="accordion-header" id="header_prop{{person_detail.id}}">
                        <button class="accordion-button collapsed  bg-warning text-white table-sm "  style="--bs-accordion-btn-padding-y:0.25rem" type="button"
                                data-bs-toggle="collapse"
                                data-bs-target="#body_prop{{person_detail.id}}" aria-expanded="false"
                                aria-controls="body_prop{{person_detail.id}}">
                            В распоряжении:
                        </button>
                    </h6>
                    <div id="body_prop{{person_detail.id}}" class="accordion-collapse collapse show"
                         aria-labelledby="header_prop{{person_detail.id}}" data-bs-parent="#prop_selector_{{person_detail.id}}">
                        <div class="accordion-body">

                              <!-- Краткая справка по инвентарю - таблица-->
                            {% block personinventory_about %}
                               {% include "poll\inventory\inventory_detail_min.html" with person_detail=person_detail %}
                            {% endblock personinventory_about %}

                               <!-- Содержимое инвентаря-->
                            {% block personinventory %}
                                {% include "poll\inventory\inventory_detail_other.html" with person_detail=person_detail %}
                            {% endblock personinventory %}

                                <!-- Краткая справка по сейфу-->
                            {% block personsafe_about %}
                               {% include "poll\safe\safe_detail_min.html" with person_detail=person_detail %}
                            {% endblock personsafe_about %}

                               <!-- Содержимое сейфа-->
                            {% block personsafe %}
                                {% include "poll\safe\safe_detail_other.html" with person_detail=person_detail %}
                            {% endblock personsafe %}

                              <!-- Это заклинания-->
<!--                         {% block personspell %}-->
<!--                                {% include "poll\spell\spells_list.html" with person_detail=person_detail %}-->
<!--                        {% endblock personspell %}-->

                        </div>
                    </div>
                </div>
            </div>
            </div>

            <!-- Это Группы, партии, локации-->
            <div class="col-md-3 col-xl-3">
              <!-- Здесь будет  общий аккордеон по инвентарю,сейфу, заклинаниям, союзам, локациям-->
            {% block personunion %}
             <!-- Это группа-->
                {% block persongroup%}
                        Группа
                {% endblock persongroup %}
            <!-- Это клан-->
            {% block personclone%}
                        Клан
                {% endblock personclone %}
             <!-- Это квесты-->
             {% block quest%}
                        Квесты
                {% endblock quest %}
             <!-- Это партия-->
                {% block personparty %}
                        Партия
                {% endblock personparty %}
                <!-- Это Локация-->
                {% block personlocation %}
                        Локация
                {% endblock personlocation %}
            {% endblock personunion %}
            </div>
        </div>
    </div>

    {% endfor %}
    <!-- Это скрипт для изменения очков скрытия персонажей и пр. -->
    <script type="text/javascript">
            $(document).ready(function(){
             $("[id^='p_']").hide(); //все персонажи в содержимом вкладок скрыты
              //$("[id^='pers_selected_']").hide(); //все персонажи в аккордеоне скрыты
                const keys=['sp', 'mp','ip','pp','ap','lp', 'bp', 'cp','fp'];
                $("#sel li").click(function(){
                   // $("[id^='pers_selected_']").hide();
                    $("[id^='p_']").hide();
                     //$("#pers").text($(this).text());  // На кнопке пишем имя выбранного персонажа
                    const personId = $(this).attr('id').split('_')[1];
                    //console.log(personId);
                    $("#selid").val($(this).attr('id'));  // в скрытом поле запоминаем его id
                    $("#p_"+personId).show();

                    let un_points =Number($("#unallocated_points_"+personId).val()); // Получаем нераспределенные очки

                    let points=un_points;
                    for (var i=0; i<=keys.length-1;i++) {
                        points+=Number($("#"+keys[i]+'_'+personId).val()); // сумма очков с учетом нераспределенных
                    }
                    const sum_points = points;
                    //console.log(sum_points);
                });

            });

     </script>

    {% endif %}
{% endblock content %}


