<!-- templates/poll/consumable_form.html -->
{% extends "poll/index.html" %}
{% block content %}
{% load bootstrap5 %}
{{ form.non_field_errors }}
<div class="row">
    {% block title %}<h4>Добавление Расходника</h4>{% endblock title %}
</div>
<div class="row">
    <form class="row g-3" method="post">
        {% csrf_token %}
        {{ form.media }}
        <div class="row">
            <div class="col-md-6">
                <label class="sr-only" for="id_consumable_name">Название</label>
                <input type="text" class="form-control" id="id_consumable_name" name="consumable_name" placeholder="Название">
            </div>
            <div class="col-md-2">
                <div class="row mb-3">
                    <label for="id_sale_price" class="col-sm-3 col-form-label col-form-label-sm">Цена покупки</label>
                    <div class="col-sm-1">
                        <input type="number" class="form-control" id="id_sale_price" name="sale_price" min="0" value="100">
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="row mb-3">
                    <label for="id_buy_price" class="col-sm-3 col-form-label col-form-label-sm">Цена продажи</label>
                    <div class="col-sm-1">
                        <input type="number" class="form-control" id="id_buy_price" name="buy_price" min="0" value="100">
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="row mb-3">
                    <label for="id_weight" class="col-sm-3 col-form-label col-form-label-sm">Вес</label>
                    <div class="col-sm-1">
                        <input type="number" class="form-control" id="id_weight" name="weight" min="0" value="null">
                    </div>
                </div>
            </div>
        </div>


        <div class="row mb-3">
            <label for="id_consumable_description" class="sr-only">Описание</label>
            <div class="col">
                <textarea class="form-control" id="id_consumable_description" name="consumable_description" placeholder="Описание"></textarea>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col">
                <input class="form-control" type="hidden" id="id_conditions" name="conditions">
                <fieldset
                        style="border: 1px solid #333;  border-radius: 15px; padding: 15px; background: #99ccff; height: 680px;">
                    <legend>Кондиции</legend>
                    <div class="row mb-3">
                        <label for="id_health" class="col-sm-7 col-form-label col-form-label-sm">Здоровье</label>
                        <div class="col-sm-1">
                            <input type="number" class="form-control" id="id_health" name="health" value="0">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="id_mental_health" class="col-sm-7 col-form-label col-form-label-sm">Ментальное
                            здоровье</label>
                        <div class="col-sm-1">
                            <input type="number" class="form-control" id="id_mental_health" name="mental_health" value="0">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="id_endurance"
                               class="col-sm-7 col-form-label col-form-label-sm">Выносливость</label>
                        <div class="col-sm-1">
                            <input type="number" class="form-control" id="id_endurance" name="endurance" value="0">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="id_mana" class="col-sm-7 col-form-label col-form-label-sm">Мана</label>
                        <div class="col-sm-1">
                            <input type="number" class="form-control" id="id_mana" name="mana" value="0">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="id_hungry" class="col-sm-7 col-form-label col-form-label-sm">Голод</label>
                        <div class="col-sm-1">
                            <input type="number" class="form-control" id="id_hungry" name="hungry" value="0">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="id_intoxication"
                               class="col-sm-7 col-form-label col-form-label-sm">Интоксикация</label>
                        <div class="col-sm-1">
                            <input type="number" class="form-control" id="id_intoxication" name="intoxication" value="null">
                        </div>
                    </div>

                </fieldset>
            </div>

            <div class="col">
                <input class="form-control" type="hidden" id="id_points_to_make" name="points_to_make">
                <fieldset
                        style="border: 1px solid #333;  border-radius: 15px; padding: 15px; background: #ffffcc; height: 680px;">
                    <legend>Для использования</legend>
                    <div class="row mb-3">
                        <label for="id_sp_to_make" class="col-sm-6 col-form-label col-form-label-sm">Стамина</label>
                        <div class="col-sm-1">
                            <input type="number" class="form-control" id="id_sp_to_make" name="sp_to_make" value="0">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="id_mp_to_make" class="col-sm-6 col-form-label col-form-label-sm">Колдовство</label>
                        <div class="col-sm-1">
                            <input type="number" class="form-control" id="id_mp_to_make" name="mp_to_make" value="0">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="id_ip_to_make" class="col-sm-6 col-form-label col-form-label-sm">Интеллект
                        </label>
                        <div class="col-sm-1">
                            <input type="number" class="form-control" id="id_ip_to_make" name="ip_to_make" value="0">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="id_pp_to_make" class="col-sm-6 col-form-label col-form-label-sm">Сила
                        </label>
                        <div class="col-sm-1">
                            <input type="number" class="form-control" id="id_pp_to_make" name="pp_to_make" value="0">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="id_ap_to_make" class="col-sm-6 col-form-label col-form-label-sm">Ловкость
                        </label>
                        <div class="col-sm-1">
                            <input type="number" class="form-control" id="id_ap_to_make" name="ap_to_make" value="0">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="id_fp_to_make" class="col-sm-6 col-form-label col-form-label-sm">Вера
                        </label>
                        <div class="col-sm-1">
                            <input type="number" class="form-control" id="id_fp_to_make" name="fp_to_make" value="0">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="id_lp_to_make" class="col-sm-6 col-form-label col-form-label-sm">Удача
                        </label>
                        <div class="col-sm-1">
                            <input type="number" class="form-control" id="id_lp_to_make" name="lp_to_make" value="0">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="id_cp_to_make" class="col-sm-6 col-form-label col-form-label-sm">Харизма
                        </label>
                        <div class="col-sm-1">
                            <input type="number" class="form-control" id="id_cp_to_make" name="cp_to_make" value="0">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="id_bp_to_make" class="col-sm-6 col-form-label col-form-label-sm">Рассудок
                        </label>
                        <div class="col-sm-1">
                            <input type="number" class="form-control" id="id_bp_to_make" name="bp_to_make" value="0">
                        </div>
                    </div>

                </fieldset>
            </div>

            <div class="col">
                <input class="form-control" type="hidden" id="id_points_from_use" name="points_from_use">
                <fieldset
                        style="border: 1px solid #333;  border-radius: 15px; padding: 15px; background: #f9a01b; height: 680px;">
                    <legend>От использования</legend>
                    <div class="row mb-3">
                        <label for="id_sp_from_use" class="col-sm-6 col-form-label col-form-label-sm">Стамина</label>
                        <div class="col-sm-1">
                            <input type="number" class="form-control" id="id_sp_from_use" name="sp_from_use" value="0">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="id_mp_from_use" class="col-sm-6 col-form-label col-form-label-sm">Колдовство</label>
                        <div class="col-sm-1">
                            <input type="number" class="form-control" id="id_mp_from_use" name="mp_from_use" value="0">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="id_ip_from_use" class="col-sm-6 col-form-label col-form-label-sm">Интеллект
                        </label>
                        <div class="col-sm-1">
                            <input type="number" class="form-control" id="id_ip_from_use" name="ip_from_use" value="0">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="id_pp_from_use" class="col-sm-6 col-form-label col-form-label-sm">Сила
                        </label>
                        <div class="col-sm-1">
                            <input type="number" class="form-control" id="id_pp_from_use" name="pp_from_use" value="0">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="id_ap_from_use" class="col-sm-6 col-form-label col-form-label-sm">Ловкость
                        </label>
                        <div class="col-sm-1">
                            <input type="number" class="form-control" id="id_ap_from_use"  name="ap_from_use" value="0">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="id_fp_from_use" class="col-sm-6 col-form-label col-form-label-sm">Вера
                        </label>
                        <div class="col-sm-1">
                            <input type="number" class="form-control" id="id_fp_from_use" name="fp_from_use" value="0">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="id_lp_from_use" class="col-sm-6 col-form-label col-form-label-sm">Удача
                        </label>
                        <div class="col-sm-1">
                            <input type="number" class="form-control" id="id_lp_from_use" name="lp_from_use" value="0">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="id_cp_from_use" class="col-sm-6 col-form-label col-form-label-sm">Харизма
                        </label>
                        <div class="col-sm-1">
                            <input type="number" class="form-control" id="id_cp_from_use" name="cp_from_use" value="0">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="id_bp_from_use" class="col-sm-6 col-form-label col-form-label-sm">Рассудок
                        </label>
                        <div class="col-sm-1">
                            <input type="number" class="form-control" id="id_bp_from_use" name="bp_from_use" value="0">
                        </div>
                    </div>

                </fieldset>
            </div>

            <div class="col">
                <input class="form-control" type="hidden" id="id_resistances_from_use" name="resistances_from_use">
                <fieldset
                        style="border: 1px solid #333;  border-radius: 15px; padding: 15px; background: #99cc66; height: 680px;">
                    <legend>Устойчивость</legend>

                    <div class="row mb-3">
                        <label for="id_fire_res" class="col-sm-6 col-form-label col-form-label-sm">K огню</label>
                        <div class="col-sm-1">
                            <input type="number" class="form-control" id="id_fire_res" name="fire_res" value="0">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="id_water_res" class="col-sm-6 col-form-label col-form-label-sm">К воде
                        </label>
                        <div class="col-sm-1">
                            <input type="number" class="form-control" id="id_water_res" name="water_res" value="0">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="id_wind_res" class="col-sm-6 col-form-label col-form-label-sm">К воздуху
                        </label>
                        <div class="col-sm-1">
                            <input type="number" class="form-control" id="id_wind_res" name="wind_res" value="0">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="id_dirt_res" class="col-sm-6 col-form-label col-form-label-sm">К земле
                        </label>
                        <div class="col-sm-1">
                            <input type="number" class="form-control" id="id_dirt_res" name="dirt_res" value="0">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="id_lightning_res" class="col-sm-6 col-form-label col-form-label-sm">К молниям
                        </label>
                        <div class="col-sm-1">
                            <input type="number" class="form-control" id="id_lightning_res" name="lightning_res" value="0">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="id_holy_res" class="col-sm-6 col-form-label col-form-label-sm">К свету
                        </label>
                        <div class="col-sm-1">
                            <input type="number" class="form-control" id="id_holy_res" name="holy_res" value="0">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="id_curse_res" class="col-sm-6 col-form-label col-form-label-sm">К тьме
                        </label>
                        <div class="col-sm-1">
                            <input type="number" class="form-control" id="id_curse_res" name="curse_res" value="0">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="id_crush_res" class="col-sm-6 col-form-label col-form-label-sm">К дроблению
                        </label>
                        <div class="col-sm-1">
                            <input type="number" class="form-control" id="id_crush_res" name="crush_res" value="0">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="id_cut_res" class="col-sm-6 col-form-label col-form-label-sm">К порезам
                        </label>
                        <div class="col-sm-1">
                            <input type="number" class="form-control" id="id_cut_res" name="cut_res" value="0">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="id_stub_res" class="col-sm-6 col-form-label col-form-label-sm">К протыканию
                        </label>
                        <div class="col-sm-1">
                            <input type="number" class="form-control" id="id_stub_res" name="stub_res" value="0">
                        </div>
                    </div>

                </fieldset>
            </div>

            <div class="col">
                <input class="form-control" type="hidden" id="id_damage_from_use" name="damage_from_use">
                <fieldset
                        style="border: 1px solid #333;  border-radius: 15px; padding: 15px; background: #ffeeff; height: 680px;">
                    <legend>Урон противнику</legend>
                    <div class="row mb-3">
                        <label for="id_fire_res_damage" class="col-sm-6 col-form-label col-form-label-sm">От
                            огня</label>
                        <div class="col-sm-1">
                            <input type="number" class="form-control" id="id_fire_res_damage" name="fire_res_damage" value="0">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="id_water_res_damage" class="col-sm-6 col-form-label col-form-label-sm">От воды
                        </label>
                        <div class="col-sm-1">
                            <input type="number" class="form-control" id="id_water_res_damage" name="water_res_damage" value="0">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="id_wind_res_damage" class="col-sm-6 col-form-label col-form-label-sm">От воздуха
                        </label>
                        <div class="col-sm-1">
                            <input type="number" class="form-control" id="id_wind_res_damage" name="wind_res_damage" value="0">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="id_dirt_res_damage" class="col-sm-6 col-form-label col-form-label-sm">От земли
                        </label>
                        <div class="col-sm-1">
                            <input type="number" class="form-control" id="id_dirt_res_damage" name="dirt_res_damage" value="0">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="id_lightning_res_damage" class="col-sm-6 col-form-label col-form-label-sm">От молний
                        </label>
                        <div class="col-sm-1">
                            <input type="number" class="form-control" id="id_lightning_res_damage" name="lightning_res_damage" value="0">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="id_holy_res_damage" class="col-sm-6 col-form-label col-form-label-sm">От света
                        </label>
                        <div class="col-sm-1">
                            <input type="number" class="form-control" id="id_holy_res_damage" name="holy_res_damage" value="0">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="id_curse_res_damage" class="col-sm-6 col-form-label col-form-label-sm">От тьмы
                        </label>
                        <div class="col-sm-1">
                            <input type="number" class="form-control" id="id_curse_res_damage" name="curse_res_damage" value="0">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="id_crush_res_damage" class="col-sm-6 col-form-label col-form-label-sm">От дробления
                        </label>
                        <div class="col-sm-1">
                            <input type="number" class="form-control" id="id_crush_res_damage" name="crush_res_damage" value="0">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="id_cut_res_damage" class="col-sm-6 col-form-label col-form-label-sm">От порезов
                        </label>
                        <div class="col-sm-1">
                            <input type="number" class="form-control" id="id_cut_res_damage" name="cut_res_damage" value="0">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="id_stub_res_damage" class="col-sm-6 col-form-label col-form-label-sm">От протыкания
                        </label>
                        <div class="col-sm-1">
                            <input type="number" class="form-control" id="id_stub_res_damage" name="stub_res_damage" value="0">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="id_clean_damage" class="col-sm-6 col-form-label col-form-label-sm">Чистый
                            урон</label>
                        <div class="col-sm-1">
                            <input type="number" class="form-control" id="id_clean_damage" name="clean_damage" value="0">
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
   <input class="btn btn-primary" type="submit" value="Отправить">

    </form>
</div>
{% endblock content %}