{% extends "poll/header.html" %}

{% block content %}
  <p><strong>Группа: {{ group_detail.group_name }}</strong></p>

  <p><strong>Организатор:</strong> <a href="/poll/group/{{inviter_person.id }}/"> {{inviter_person.person_name}}</a></p>

    <p><strong>Участники: </strong></p>
     <ul>
        {% for participant in members %}
            <li><a href="/poll/group/{{ participant.id }}/">{{participant.person.person_name }}</a></li>
        {% endfor %}
     </ul>
  </div>
<p><a href="{% url 'poll:group-update' group_detail.pk %}">+ Изменить данные группы</a></p>
<p><a href="{% url 'poll:group-delete' group_detail.pk %}">- Удалить группу</a></p>

<p><a href="{% url 'poll:owners-list' %}"> Список игроков </a></p>
<p><a href="{% url 'poll:persons-list' %}"> Список персонажей </a></p>
<p><a href="{% url 'poll:races-list' %}"> Список рас </a></p>
<p><a href="{% url 'poll:groups-list' %}"> Список групп </a></p>
{% endblock %}